<style type="text/css">
.basic {border:1px solid orange;margin:1em; padding:0.5em;}
.loop_and_condition li {color:blue;}
</style>


<div class="basic">
Basic.
<ul><li>
My name is <%=first_name%> <%=last_name%>. Greeting from <%=state%>!
</li></ul>

</div>