Client Side Include :)

<div id="tmpl_1">
	<script type="text/javascript">$('#tmpl_1').vkTemplate('basic.tmpl','basic.php');</script>
</div>

<div id="tmpl_2">
	<script type="text/javascript">$('#tmpl_2').vkTemplate('loop_and_condition.tmpl','loop_and_condition.php');</script>
</div>


<div id="tmpl_3">
	<script type="text/javascript">$('#tmpl_3').vkTemplate('nested_conditionally.tmpl','loop_and_condition.php');</script>
</div>
