
<div style="border:1px solid green;margin:1em;">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis felis et 
<div>txt is: <%=txt%></div>

<table><tr><td>
	<ul>
		<%for(var ix=0;ix<test.length;ix++) {%>
			<li style="color:blue;">Current time is: <%=test[ix].h%>:<%=test[ix].m%>:<%=test[ix].s%></li>
		<%}%>
	</ul>
</td><td>
	<ul>
		<%for(var ix=0;ix<test.length;ix++) {%>
			<li style="color:blue;">Current time is: <%=test[ix].h%>:<%=test[ix].m%>:<%=test[ix].s%></li>
		<%}%>
	</ul>
</td>
<td>
	<ul>
		<%for(var ix=0;ix<test.length;ix++) {%>
			<li style="color:blue;">Current time is: <%=test[ix].h%>:<%=test[ix].m%>:<%=test[ix].s%></li>
		<%}%>
	</ul>
</td>
</tr></table>	
Pellentesque congue porttitor mi nec luctus. Morbi dolor augue, pretium et congue nec, tristique vitae odio. Vestibulum sagittis risus
</div>
