<style type="text/css">
.basic {border:1px solid orange;margin:1em; padding:0.5em;}
</style>


<div class="basic">
<div class="h5">Basic.</div>
<div> My name is <%=first_name%> <%=last_name%>. </div>
<div>Greeting from <%=state%>!</div>
</div>

