<style type="text/css">
.basic {border:1px solid orange;margin:1em; padding:0.5em;}
</style>


<div class="basic">
<div class="h5">Basic.</div>
<div> My name is <%=o.first_name%> <%=o.last_name%>. </div>
<div>Greeting from <%=o.state%>!</div>
</div>

