<style type="text/css">
.condition {border:1px solid green;margin:1em; padding:1em;}
.condition li {color:blue;}
</style>

<script type="text/javascript">
var foo = "bar2";
</script>

<div  class="condition" >
<div class="h5">Conditions:</div>
<% var aaa = "zzz";%>
<ul>
	<li>Current time is: <%=o.h%>:<%=o.m%>:<%=o.s%></li>
</ul>

	<ul style="list-style-type:none;"><li>
		<%if (o.s%2) {%> 
			odd second 
		<%} else {%> 
			even second
		<%}%>
	</li></ul>
	<% console.log(o);%>

</div>


<script type="text/javascript">
console.log(o);
</script>