<br/>
<div class="h5">Client Side Include</div>

<div id="tmpl_1">
	<script type="text/javascript">$('#tmpl_1').vkTemplate('tmpl/basic.tmpl','php/basic.php');</script>
</div>

<div id="tmpl_2">
	<script type="text/javascript">$('#tmpl_2').vkTemplate('tmpl/loop_and_condition.tmpl','php/loop_and_condition.php');</script>
</div>


<div id="tmpl_3">
	<script type="text/javascript">$('#tmpl_3').vkTemplate('tmpl/nested_conditionally.tmpl','php/loop_and_condition.php');</script>
</div>
