<br/>
<div class="h5">Client Side Include</div>

<div id="foo">
	<script type="text/javascript">$('#foo').vkTemplate('tmpl/basic.tmpl','php/basic.php');</script>
</div>

<div id="bar">
	<script type="text/javascript">$('#bar').vkTemplate('tmpl/nested.tmpl','php/loop.php');</script>
</div>
