<style type="text/css">
.loop {border:1px solid green;margin:1em; padding:1em;}
.loop li {color:blue;}
</style>

<div  class="loop" >
<div class="h5">Loop:</div>

	<ul>
		<%for(var ix=0;ix<time.length;ix++) {%>
			<li>Current time is: <%=time[ix].h%>:<%=time[ix].m%>:<%=time[ix].s%></li>
		<%}%>
	</ul>

</div>
