<style type="text/css">
.loop {border:1px solid green;margin:1em; padding:1em;}
.loop li {color:blue;}
</style>

<div  class="loop" >
<div class="h5">Loop:</div>

	<ul>
		<%for(var ix=0;ix<this.time.length;ix++) {%>
			<li>Current time is: <%=this.time[ix].h%>:<%=this.time[ix].m%>:<%=this.time[ix].s%></li>
		<%}%>
	</ul>

</div>
