<style type="text/css">
.condition {border:1px solid green;margin:1em; padding:0.5em;}
.condition li {color:blue;}
</style>

<div  class="condition" >
<div class="h5">Conditionally nested:</div>

	<ul>
		<li>Current time is: <%=o.h%>:<%=o.m%>:<%=o.s%></li>
	</ul>

	<div id="subcontainer"></div>
	<ul style=""><li>
		<%if (o.s%2) {%> 
			odd second
			<script type="text/javascript">$('#subcontainer').vkTemplate('tmpl/basic.tmpl','php/basic.php');</script>
		<%} else {%> 
			even second
		<%}%>
	</li></ul>
	
</div>
